@model SkalEF.Models.Client




@{
    ViewData["Title"] = "Lägg till";
    
  
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    function ResetCaseOffiser() {
        $("[asp-for='CaseOfficer']").val("");
    }
</script>
<h4>Förvarstagen</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddOrEdit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientID" />
            <input type="hidden" asp-for="ImgName" />
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label> <br />
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="FirNamn" class="control-label"></label>
                    <input asp-for="FirNamn" class="form-control" />
                    <span asp-validation-for="FirNamn" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="LasName" class="control-label"></label>
                    <input asp-for="LasName" class="form-control" />
                    <span asp-validation-for="LasName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Dossnr" class="control-label"></label>
                <input asp-for="Dossnr" class="form-control" />
                <span asp-validation-for="Dossnr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lang" class="control-label"></label>
                <input asp-for="Lang" class="form-control" />
                <span asp-validation-for="Lang" class="text-danger"></span>
            </div>

            <div class="form-group ">
                <label asp-for="Food" class="control-label"></label>
                <input asp-for="Food" class="form-control" />
                <span asp-validation-for="Food" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-4">
                    <label asp-for="Section" class="control-label"></label>
                    <input asp-for="Section" class="form-control" />
                    <span asp-validation-for="Section" class="text-danger"></span>
                </div>


                <div class="form-group col-3">
                    <label asp-for="Room" class="control-label"></label>
                    <input asp-for="Room" class="form-control" />
                    <span asp-validation-for="Room" class="text-danger"></span>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group form-check col-md-6">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Socks" /> @Html.DisplayNameFor(model => model.Socks)
                        <input asp-for="AmountSocks" class="form-control " />
                    </label>
                </div>
                <div class="form-group form-check col-md-6">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Slippers" /> @Html.DisplayNameFor(model => model.Slippers)
                        <input asp-for="AmountSlippers" class="form-control " />
                    </label>
                </div>
                <div class="form-group form-check col-md-6">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Underware" /> @Html.DisplayNameFor(model => model.Underware)
                        <input asp-for="AmountUnderware" class="form-control " />
                    </label>

                </div>
                <div class="form-group form-check col-md-6">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Mobil" /> @Html.DisplayNameFor(model => model.Mobil)
                        <input asp-for="AmountMobile" class="form-control " />
                    </label>
                </div>
                <div class="form-group form-check col-md-6">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Headphones" /> @Html.DisplayNameFor(model => model.Headphones)
                        <input asp-for="AmountHeadphones" class="form-control " />
                    </label>
                </div>
                <div class="form-group form-check col-md-6">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Trouser" /> @Html.DisplayNameFor(model => model.Trouser)
                        <input asp-for="AmountTrousers" class="form-control " />
                    </label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="CaseOfficer" class="control-label"></label>
                    <input asp-for="CaseOfficer" class="form-control" />
                    <span asp-validation-for="CaseOfficer" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Läg till" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
