@model SkalEF.Models.ViewModels.AddEditViewModel

@{
    ViewData["Title"] = "Lägg till";

}

<h4>Förvarstagen</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddOrEdit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientModel.ClientId" />
            <input type="hidden" asp-for="ClientModel.ImgName" />
            <div class="form-group">
                <label asp-for="ClientModel.ImageFile" class="control-label"></label> <br />
                <input asp-for="ClientModel.ImageFile" accept="image/*" />
                <span asp-validation-for="ClientModel.ImageFile" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="ClientModel.FirstName" class="control-label"></label>
                    <input asp-for="ClientModel.FirstName" class="form-control" />
                    <span asp-validation-for="ClientModel.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ClientModel.LastName" class="control-label"></label>
                    <input asp-for="ClientModel.LastName" class="form-control" />
                    <span asp-validation-for="ClientModel.LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ClientModel.DossNr" class="control-label"></label>
                <input asp-for="ClientModel.DossNr" class="form-control" />
                <span asp-validation-for="ClientModel.DossNr" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="ClientModel.Lang" class="control-label"></label>
                <input asp-for="ClientModel.Lang" class="form-control" />
                <span asp-validation-for="ClientModel.Lang" class="text-danger"></span>
            </div>

            <div class="form-group ">
                <label asp-for="ClientModel.FoodChoice" class="control-label"></label>
                <input asp-for="ClientModel.FoodChoice" class="form-control" />
                <span asp-validation-for="ClientModel.FoodChoice" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-4">
                    <label asp-for="ClientModel.Section" class="control-label"></label>
                    <input asp-for="ClientModel.Section" class="form-control" />
                    <span asp-validation-for="ClientModel.Section" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="ClientModel.Room" class="control-label"></label>
                    <input asp-for="ClientModel.Room" class="form-control" />
                    <span asp-validation-for="ClientModel.Room" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                @{ var i = 0;}
                @foreach (var item in Model.ClientModel.ClientItems)
                {
                    <div class="form-group col-md-3">
                        @Html.DisplayFor(x => item.ItemName)
                        <input name="ClientModel.ClientItems[@i].ItemCount" asp-for="@item.ItemCount" class="form-control" />
                        <input type="hidden" name="ClientModel.ClientItems[@i].ItemID" asp-for="@item.ItemId" class="form-control" />
                        <input type="hidden" name="ClientModel.ClientItems[@i].ItemName" asp-for="@item.ItemName" class="form-control" />
                        <input type="hidden" name="ClientModel.ClientItems[@i].ItemOutDate" asp-for="@DateTime.Now" class="form-control" />

                    </div>
                    i++;
                }
                </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="ClientModel.UpdatedBy" class="control-label"></label>
                    <input asp-for="ClientModel.UpdatedBy" class="form-control" />
                    <span asp-validation-for="ClientModel.UpdatedBy" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrera" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
