@model SkalEF.Models.ClientModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Ta bort </h1>

<h3><span class="badge badge-danger">Följande information kommer att tas bort! </span> </h3>
<div>
    <h4>Förvarstagen</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <img src="@("~/img/"+Model.ImgName)" asp-append-version="true" style="width:120px; height:auto" />
        </dt>
        <dd class="col-sm-10">
            
        </dd>
        <br />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Section)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Section)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodChoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodChoice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DossNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DossNr)
        </dd>
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ClientID" />
        <input type="submit" value="Ta bort klient" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka</a>
    </form>
</div>
