@model SkalEF.Models.Client

@{
    ViewData["Title"] = "Details";
}



<div>
    <div class="container">
        <div class="card" style="width:200px;">
            <img class="card-img-top" src="@("~/img/"+Model.ImgName)" asp-append-version="true" style="width:100%;" />
            <div class="card-body">
                <h1>@Html.DisplayFor(model => model.Room)</h1>
                    @Html.DisplayNameFor(model => model.LasName)
                <h4>@Html.DisplayFor(model => model.LasName)</h4>
                    @Html.DisplayNameFor(model => model.FirNamn)
                <h5>@Html.DisplayFor(model => model.FirNamn)</h5>
            </div>
        </div>
    </div>

    <hr />
    <div class="container" style="margin:50px;">
        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.Dossnr)
                <h5>@Html.DisplayFor(model => model.Dossnr)</h5>
            </div>
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.Lang)
                <h5>@Html.DisplayFor(model => model.Lang)</h5>
            </div>
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.Section)
                <h5>@Html.DisplayFor(model => model.Section)</h5>
            </div>
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.Food)
                <h5>@Html.DisplayFor(model => model.Food)</h5>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2" style="padding-top:50px;">
                @Html.DisplayNameFor(model => model.Socks)
                @Html.DisplayFor(model => model.Socks)
            </div>
            <div class="col-md-4 ">
                <h5 class="text-center">Utlånade</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Antal </th>
                            <th> Datum </th>
                            <th> Ansvarig </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.AmountSocks)</td>
                            <td>@Html.DisplayFor(model => model.SocksGiveDate)</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <h5 class="text-center">Återlämnda</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Antal </th>
                            <th> Datum </th>
                            <th> Ansvarig </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">

            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="padding-top:30px;">
                @Html.DisplayNameFor(model => model.Slippers)
                @Html.DisplayFor(model => model.Slippers)
            </div>
            <div class="col-md-4 ">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Antal </th>
                            <th> Datum </th>
                            <th> Ansvarig </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.AmountSlippers)</td>
                            <td>@Html.DisplayFor(model => model.SlippersGiveDate)</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Antal </th>
                            <th> Datum </th>
                            <th> Ansvarig </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">

            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="padding-top:30px;">
                @Html.DisplayNameFor(model => model.Underware)
                @Html.DisplayFor(model => model.Underware)
            </div>
            <div class="col-md-4 ">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Antal </th>
                            <th> Datum </th>
                            <th> Ansvarig </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.AmountUnderware)</td>
                            <td>@Html.DisplayFor(model => model.UnderwareGiveDate)</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Antal </th>
                            <th> Datum </th>
                            <th> Ansvarig </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">

            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="padding-top:30px;">
                @Html.DisplayNameFor(model => model.Mobil)
                @Html.DisplayFor(model => model.Mobil)
            </div>
            <div class="col-md-4 ">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Antal </th>
                            <th> Datum </th>
                            <th> Ansvarig </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.AmountMobile)</td>
                            <td>@Html.DisplayFor(model => model.MobileGiveDate)</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Antal </th>
                            <th> Datum </th>
                            <th> Ansvarig </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">

            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="padding-top:20px;">
                @Html.DisplayNameFor(model => model.Headphones)
                @Html.DisplayFor(model => model.Headphones)
            </div>
            <div class="col-md-4 ">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Antal </th>
                            <th> Datum </th>
                            <th> Ansvarig </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.AmountHeadphones)</td>
                            <td>@Html.DisplayFor(model => model.HeadphoneGiveDate)</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Antal </th>
                            <th> Datum </th>
                            <th> Ansvarig </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">

            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="padding-top:10px;">
                @Html.DisplayNameFor(model => model.Trouser)
                @Html.DisplayFor(model => model.Trouser)
            </div>
            <div class="col-md-4 ">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Antal </th>
                            <th> Datum </th>
                            <th> Ansvarig </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.AmountTrousers)</td>
                            <td>@Html.DisplayFor(model => model.TrouserGiveDate)</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Antal </th>
                            <th> Datum </th>
                            <th> Ansvarig </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-2">
            <h3><span class="badge badge-secondary">Uppdaterad av: @Html.DisplayFor(model => model.CaseOfficer) den @Html.DisplayFor(model => model.Date)</span></h3>
        </div>
    </div>
    
    <br />
</div>
<div>
    <a class="btn btn-success" asp-action="AddOrEdit" asp-route-id="@Model.ClientID">Ändra</a> |
    <a asp-action="Index">Tillbaka</a>
</div>
