@model SkalEF.Models.ViewModels.DetailsVewModel

@{
    ViewData["Title"] = "Details";
}



<div>
    <div class="container">
        <div class="card" style="width:200px;">
            <img class="card-img-top" src="@("~/img/"+Model.ClientModel.ImgName)" asp-append-version="true" style="width:100%;" />
            <div class="card-body">
                <h1>@Html.DisplayFor(model => model.ClientModel.Room)</h1>
                    @Html.DisplayNameFor(model => model.ClientModel.LastName)
                <h4>@Html.DisplayFor(model => model.ClientModel.LastName)</h4>
                    @Html.DisplayNameFor(model => model.ClientModel.FirstName)
                <h5>@Html.DisplayFor(model => model.ClientModel.FirstName)</h5>
            </div>
        </div>
    </div>

    <hr />
    <div class="container" style="margin:50px;">
        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.ClientModel.DossNr)
                <h5>@Html.DisplayFor(model => model.ClientModel.DossNr)</h5>
            </div>
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.ClientModel.Lang)
                <h5>@Html.DisplayFor(model => model.ClientModel.Lang)</h5>
            </div>
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.ClientModel.Section)
                <h5>@Html.DisplayFor(model => model.ClientModel.Section)</h5>
            </div>
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.ClientModel.FoodChoice)
                <h5>@Html.DisplayFor(model => model.ClientModel.FoodChoice)</h5>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            
            <div class="col-md-4 ">
                <h5 class="text-center">Utlånade</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Utlånat </th>
                            <th> Antal </th>
                            <th> Datum </th>
                        </tr>
                    </thead>
                    <tbody>
                    @{ var i = 0;}
                    @foreach (var item in Model.ClientModel.ClientItems)
                    {
                        <tr>
                            <td>@Html.DisplayFor(x => item.ItemName)</td>
                            <td>@Html.DisplayFor(x => item.ItemCount)</td>
                        </tr>
                        i++;
                    }
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <h5 class="text-center">Återlämnda</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Antal </th>
                            <th> Datum </th>
                            <th> Ansvarig </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
   
        <div class="col-md-2">
            <h3><span class="badge badge-secondary">Uppdaterad av: @Html.DisplayFor(model => model.ClientModel.UpdatedBy) den  </span></h3>
        </div>
    </div>
    
    <br />
</div>
<div>
    <a class="btn btn-success" asp-action="AddOrEdit" asp-route-id="@Model.ClientModel.ClientId">Ändra</a> |
    <a asp-action="Index">Tillbaka</a>
</div>
