@model IEnumerable<SkalEF.Models.Client>

@{
    ViewData["Title"] = "HeadCount";
  
}

<h1></h1>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="border col-3 align-content-lg-center" >
                <img src="@("~/img/"+item.ImgName)" asp-append-version="true" style="width:120px; height:auto" />
                <div>
                    <h3 class="border-bottom">@Html.DisplayFor(modelItem => item.Room)</h3>
                    <div class="row border-bottom">
                        <div class="col-6">
                            @Html.DisplayNameFor(item => item.LasName)
                            @Html.DisplayFor(modelItem => item.LasName)
                        </div>
                        <div class="col-6">
                            @Html.DisplayNameFor(item => item.FirNamn)
                            @Html.DisplayFor(modelItem => item.FirNamn)
                        </div>
                    </div>
                </div>
                <div>
                    <table class="table table-bordered" style="width:220px;">
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        }

    </div>
  

</div>


       
