@model IEnumerable<SkalEF.Models.Client>

@{
    ViewData["Title"] = "Index";
    var sort = Model.OrderBy(c => c.Room);
}

<h1>Förvarstagna</h1>

<p>
    <a asp-action="AddOrEdit">Lägg till</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Bild
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirNamn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LasName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dossnr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in sort) {
    
        <tr>
            <td>
                <img src="@("~/img/"+item.ImgName)" asp-append-version="true" style="width:30px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirNamn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LasName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dossnr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section)
            </td>
            
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.ClientID">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.ClientID">Info</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientID">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
