@model IEnumerable<SkalEF.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Förvarstagna</h1>

<p>
    <a asp-action="Create">Lägg till</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirNamn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LasName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dossnr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirNamn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LasName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dossnr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientID">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.ClientID">Info</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientID">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
